.positioned {
    position: absolute;
    border: 2px solid greenyellow;
}

.wrapper {
    margin-top: 16px;
    position: relative;
}

.header {
    position: absolute;
    height: 20px;
    padding: 2px 4px;
    background: greenyellow;
    color: darkgreen;
    font-size: 14px;
    line-height: 20px;
    white-space: nowrap;
}